@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #F7F7F8;
}

p {
  color: #46007E;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: transparent;
}